#tidasHeader {
  width:100%;
  height:50px;
  background:#fff;
  position: relative;
  top:0px;
  overflow: hidden;
}

.tidasHeaderImg {
  float:left;
  margin-left: 15px;
  height: 50px;
  position: relative;
}

.tidasHeaderTextImage {
  float:left;
  margin-left: 15px;
  height: 30px;
  margin-top: 10px;
  position: relative; 
}

.tidasHeaderText {
  margin:0;
  padding-top:15px;
  padding-right:15px;
  font-weight: 200;
  color:#72C48C;
}